footer{
    background-color: black;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    h2{
        color: rgb(194, 186, 186);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
        font-size: 15px;
    }
    p{
        color: rgb(194, 186, 186);
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
        font-weight: 800;
    }
    a{
        text-decoration: none;
    }
    div img{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content:flex-end; 
        display: inline-block;  
    }
}