main{
    .hero{
        width: 100%;
        height: 900px;
        background-image: url(../img/carpinteriappp.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10vh;
        }
    h2{
    color: white;
    font-size: 50px;
    border: 2px solid white;
    padding: 20px;
    }
    .hero p{
    color: white;
    font-size: 30px;
    }
    .hero a{
        font-family:"Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 220px;
    padding: 13px;
    background: rgba(112, 49, 7, 0.349);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba (0,0,0, 0.1);
    margin-top: 30px;
    display: inline-block;
    &:hover{
        color: white;
        background: rgba(206, 108, 43, 0.349);
    }
    }       
}
.carousel-item img{
    width: 100%;
    height: 800px;
}
.bienvenidos{
    background-color:white;
    justify-content: center;
    h2{
    color: black;
    text-align: center;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    p{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    }
    img{
    width: 400px;
    height: 600px;
    }
    .paddingh2{
        padding-top: 0;
    }
}
.nosotros-index h2{
    color: black;
    justify-content: end;
    text-align: center;
    p{
    color: black;
    text-align: center;
    }
}
.productos{
    display: flex;
    justify-content: center;
    div{
        background-color: rgb(207, 204, 204);
    width: 540px;
    height: 550px;
    margin: 20px;
    padding: 0px;
    text-align: center;
    display: inline-block;
    &:hover{
        background-color: rgb(163, 160, 160);
    }
    }
    a{
    color: white;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: rgb(78, 78, 78);
    }
    h3{
    color: black;
    font-size: 30px;
    padding: 15px;
    }
    div img{
        padding: 30px;
        width: 400px;
        height: 400px;
    }
}
/**------NOSOTROS-INDEX------**/
.container-img{
    width: 100%;
    max-width: 1100px;
    margin:auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 20px;
     .box-img figure{
        width: 100%;
        height: 100%;
        a{
            width: 100%;
            height: 100%;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;    
        }
    }
    .container-img .box-img:nth-child(1){
        grid-column-start: span 2;    
    }
    .container-img .box-img:nth-child(4){
        grid-row-start: span 2;
    }
}
/*-----CARDS-INDEX-----*/
.card-body{
    h5{
        color: black;
    }
    p{
        color: black;
    }
    &:hover{
        background-color: #dfdfdf;
    }
}
